* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Amatic SC', cursive;
    background-color: rgb(58, 129, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: none;

}

.score {
    font-size: 4em;
    margin-bottom: .2em;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
    width: 50%;
}

.start {

    border: none;
    border-radius: 20%;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 20px;
    padding: .7em 2em;
    letter-spacing: 0.1rem;
    background-color: #e6e622;

}

.stop {
    border: none;
    border-radius: 20%;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 20px;
    padding: .7em 2em;
    letter-spacing: 0.1rem;
    background-color: #e65022;
    color: #fff;
}


.board {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}

.hole {
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
        inset 0 20px 20px 15px rgba(0, 0, 0, .3),
        0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}

.hole .mole {
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}

@keyframes rise {
    0% {
        transform: translateX(-50%) translateY(100%);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.cursor {
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('assets/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active {
    transform: translate(-20%, -20%) rotate(-45deg);
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .board {
        height: 80vw;
        width: 80vw;
        gap: 16vw;
    }

    .hole {
        box-shadow: inset 0 0.8vw 0 0.6vw rgb(53, 21, 6),
            inset 0 1.6vw 1.6vw 1.2vw rgba(0, 0, 0, 0.3),
            0 0 0.4vw rgba(0, 0, 0, 0.5);
    }

    .btns {
        margin-top: 10px;
        width: 80%;
        text-align: center;
        gap: 10%;
    }

    .start,
    .stop {
        width: 100%;
        margin-bottom: 10px;
    }

    .cursor {
        height: 20vw;
        width: 17.6vw;
        top: 26.6vw;
        left: 26.6vw;
    }

}